# This is a simple .gitignore that will ignore everything
# except this file, and cpp and h files

#ignore everything
*
*/

#unignore .cpp and .h, and this file, and the README
!.gitignore
!*.cpp
!*.h
!*.md
